<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="main_Container">

        <div class="Nav_bar">
            <img src="/css/images/arrow-759223_640.webp" alt="">
            <div>
                <a href="/help"><button class="button-23" role="button">HElP_Direction</button></a>

            </div>
        </div>

        
            {{!-- <h1 class="heading-con">Welcome, <span id="username"></span>!</h1>   --}}
            <h1 class="heading-con">Welcome, {{ name }}!👋</h1>


        <div class="second_part">   
            <div class="second_info">
                <h1 class="Main-h1">Direction From <span class="role"></span></h1>
                <p class="Main-p">Our side provides easy to use direction from your Source to Destination in Shortest path.<br>Simply enter your <Span class="Start">STARTING AND ENDING POINT! </Span></p>
                <a href="/direction" style="text-decoration: none;">
                <button class="contactButton">Get Direction
                    <div class="iconButton">
                        <svg
                          height="24"
                          width="24"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </div>
                </button>
            </a> 
        </div>
            <div class="second_img">
                <img src="/css/images/campus-map1.jpg" alt="" loading="lazy">
            </div>
        </div>

        <div class="black-2">
            <p>Simple Directions from A to point B</p>
        </div>

        <div class="third-part">
            <div class="left_part">
                <h2>Navigation System</h2>
                <h1>Effortlessly reach your destination</h1>
                <div class="inderline"></div>
                <p>EASY TO USE DIRECTION FROM SOURCE TO Destination</p>
            </div>
            <div class="right_part">
                <div class="app">
                    <div class="tag-list">
                      <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                        <div class="inner">
                          <div class="tag"><span>#</span> BH1</div>
                          <div class="tag"><span>#</span> BH2</div>
                          <div class="tag"><span>#</span> Bh3</div>
                          <div class="tag"><span>#</span> Bh4</div>
                          <div class="tag"><span>#</span> BH5</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> BH6</div>
                          <div class="tag"><span>#</span> BH7</div>
                          <div class="tag"><span>#</span> BH1</div>
                          <div class="tag"><span>#</span> Bh2</div>
                          <div class="tag"><span>#</span> BH3</div>
                        </div>
                      </div>
                      <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
                        <div class="inner">
                          <div class="tag"><span>#</span> GH1</div>
                          <div class="tag"><span>#</span> GH2</div>
                          <div class="tag"><span>#</span> GH3</div>
                          <div class="tag"><span>#</span> GH4</div>
                          <div class="tag"><span>#</span> GH5</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> GH6</div>
                          <div class="tag"><span>#</span> GH7</div>
                          <div class="tag"><span>#</span> GH8</div>
                          <div class="tag"><span>#</span> GH1</div>
                          <div class="tag"><span>#</span> GH2</div>
                        </div>
                      </div>
                      <div class="loop-slider" style="--duration:15449ms; --direction:normal;">
                        <div class="inner">
                          <div class="tag"><span>#</span> Block25</div>
                          <div class="tag"><span>#</span> Block26</div>
                          <div class="tag"><span>#</span> Block27</div>
                          <div class="tag"><span>#</span> Block28</div>
                          <div class="tag"><span>#</span> Block29</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> Block30</div>
                          <div class="tag"><span>#</span> Block33</div>
                          <div class="tag"><span>#</span> Block34</div>
                          <div class="tag"><span>#</span> Block35</div>
                          <div class="tag"><span>#</span> Block36</div>
                        </div>
                      </div>
                      <div class="loop-slider" style="--duration:18638ms; --direction:reverse;">
                        <div class="inner">
                          <div class="tag"><span>#</span> Admisson_Block</div>
                          <div class="tag"><span>#</span> Main Gate</div>
                          <div class="tag"><span>#</span> Robo_Park</div>
                          <div class="tag"><span>#</span> Play_Ground</div>
                          <div class="tag"><span>#</span> Heli_pad</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> UNI_Mall</div>
                          <div class="tag"><span>#</span> Univation_studio</div>
                          <div class="tag"><span>#</span> DSW</div>
                          <div class="tag"><span>#</span> MBA_Block</div>
                          <div class="tag"><span>#</span> SDMA</div>
                        </div>
                      </div>
                      <div class="loop-slider" style="--duration:18936ms; --direction:normal;">
                        <div class="inner">
                          <div class="tag"><span>#</span> Block38</div>
                          <div class="tag"><span>#</span> Block37</div>
                          <div class="tag"><span>#</span> Library</div>
                          <div class="tag"><span>#</span> 34_Cantiin</div>
                          <div class="tag"><span>#</span> Book_shop</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> Lost_and_Found</div>
                          <div class="tag"><span>#</span> Hostel_Ball</div>
                          <div class="tag"><span>#</span> Oven_express</div>
                          <div class="tag"><span>#</span> Sunban_park</div>
                          <div class="tag"><span>#</span> Auto_Starting_point</div>
                        </div>
                      </div>
                      <div class="loop-slider" style="--duration:18936ms; --direction:reverse;">
                        <div class="inner">
                          <div class="tag"><span>#</span> Auto_ending_point</div>
                          <div class="tag"><span>#</span> Any_Block</div>
                          <div class="tag"><span>#</span> Any_Place</div>
                          <div class="tag"><span>#</span> Any_foodCourt</div>
                          <div class="tag"><span>#</span> Any_Stall</div>
                          <!-- duplicated content -->
                          <div class="tag"><span>#</span> Many_More</div>
                          <div class="tag"><span>#</span> Any_Ground</div>
                          <div class="tag"><span>#</span> Best_place</div>
                          <div class="tag"><span>#</span> Happy</div>
                          <div class="tag"><span>#</span> Happy</div>
                        </div>
                      </div>
                      <div class="fade"></div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="forth-part">
            <h2>Easy to use direction from source to destination</h2>
            <p>Get step-by-step directions from your starting point to your desired destination With ease. Our user-friendly interface makes it simple to navigate through any route,ensuring you reach your destination hassle-free. Say goodbye to getting lost and hello to stress-free navigation with our directions service.</p>

            <div class="forth-part-bottom">
                <p>Get turn-by-turn easy to use directions from source to destination with this Arrow navigation device.</p>
                <h1>Collage Navigation Device</h1>
            </div>
        </div>

        <div class="footer">
            <div class="footer_all">
    
            <div class="footer_desc">
                <h1>Easy to use direction from source to destination</h1>
                <p>This section provide easy-to-foow direction from the source location to the destination</p>
            </div>

            <div class="contact_us">
                <ul>
                    <li>
                        <h2>Contact Us</h2>
                    </li>
                    <li>
                        <i class="fa-solid fa-location location"></i>
                        <p>123 Main Street, Cityvilla,postal Code: <br>144411</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone phone"></i>
                        <p>+91 9999999999</p>
                    </li>
                    <li>
                        <i class="fa-regular fa-envelope"></i>
                        <p>info@example.com</p>
                    </li>
                </ul>
            </div>

            <div class="socal">
            <p>
                <a href="#" class="icon" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </p>
            <p>
                <a href="#" class="icon" id="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </p>
            <p>
                <a href="#" class="icon" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
            <p>
                <a href="#" class="icon" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </p>
            <p>
                <a href="#" class="icon" id="telegram">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </p>
            </div>

        </div>
         </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://kit.fontawesome.com/bf8d0a2d93.js" crossorigin="anonymous"></script>
<script>
    var typeData = new Typed(".role", {
        strings: [
            "Class To Class",
            "Class to Hostel",
            "Hostel to Main Gate",
            "Nearest Canteen",
        ],
        loop: true,
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 1000,
    });


    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const username = urlParams.get('username');
        if (username) {
            document.getElementById('username').textContent = username;
        }
    }
</script>

</html>

